html {
  scroll-behavior: smooth;
}

button {
  all: unset;
}

footer {
  position: absolute;
  bottom: 0;

}

a {
  z-index: 50;
}

.game_image {
  width: 300px;
  padding: 10px;
}

.games_images{
  padding-left: 40px;
}

.unityvideo{
  width: 60vw;
  height: 40vh;
}

#unityvideo{
  padding-left: 10%;
}

#one{
}

#video {
  padding-left: 10%;
}

.websitevideo {
  width: 80vw;
  height: 50vh;
}

.link {
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 10px;

}

#website {
  left: 200px;

}

#paintings {
  left: 300px;

}

#ayab {
  left: 400px;
}

#unity {
  left: 500px;
}

.paintings_container{
  justify-content: center;
}


.unity_container{
  padding-left: 150px;
  padding-bottom: 50px;
  width: 600px;
}

.unity_description{
  padding: 10px;
  border: 1px solid black;
  left: 590px;
  top: 200px;
  position:absolute;
  width: 200px;
  background-color: white;
  z-index: 50;
  font-family:'Courier New', Courier, monospace;
}

.statue {
  padding-left: 40%;
}

.unity_description_2{
  padding: 10px;
  border: 1px solid black;
  left: 50px;
  top: 380px;
  position:absolute;
  width: 200px;
  background-color: white;
  z-index: 50;
  font-family:'Courier New', Courier, monospace;
}

.header{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 50px;

}

.fonted{
  font-family:'Courier New', Courier, monospace;
  margin-left: 50px;

}

#home{
  left: 50px;
}

#pupils {
  position: absolute;
  left: var(--left);
  top: var(--top);
}


.face{
  left: 100px;
  top: 150px;
  position: absolute;

}

.description{
  left: 550px;
  top: 200px;
  position:absolute;
  width: 200px;
  background-color: white;
  z-index: 50;
  font-family:'Courier New', Courier, monospace;

}

.bold {
  font-weight: "bold";
}

#footer{
  position: fixed;
  left: 55px;
  bottom: 0;

  text-align: center;
}

.sign{
  position: fixed;
  left: 5px;
  bottom: 12;
  width: 50px;
  text-align: center;
}

